* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: rgb(11, 79, 134);
}

h1 {
  font-size: 35px;
  color: rgb(227, 135, 44);
}

h2 {
  font-weight: 400;
  font-size: 25px;
}

span {
  color: rgb(227, 135, 44);
  font-weight: 500;
}

html {
  scroll-behavior: smooth;
}

.container {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.btn {
  padding: 12px;
  font-weight: 400;
  font-size: 17px;
  text-align: center;
  border-radius: 25px;
  transition: ease-in-out 0.4s;
}

.btn-verde {
  background: rgb(227, 135, 44);
  color: #fff;
  border: solid 1px rgb(227, 135, 44);
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
}
.btn-verde:hover {
  background: #fff;
  color: rgb(227, 135, 44);
  box-shadow: 2px 2px 2px rgb(227, 135, 44);
}

.btn-azul {
  background: rgb(11, 79, 134);
  border: solid 1px rgb(11, 79, 134);
  color: #fff;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
}
.btn-azul:hover {
  background: #fff;
  color: rgb(11, 79, 134);
  box-shadow: 3px 3px 3px rgb(11, 79, 134);
}
