#minicursos {
  padding: 30px;
}

#minicursos h2 {
  text-align: center;
  font-weight: 500;
  color: rgb(227, 135, 44);
  margin-bottom: 15px;
}

#minicursos p {
  text-align: justify;
  margin-bottom: 10px;
}

#minicursos p span {
  color: rgb(227, 135, 44);
  font-weight: 500;
}

.cards-minicursos {
  padding: 30px;
  margin: auto;
  width: 700px;
}

.cards-minicursos ul li {
  list-style: circle;
  margin-left: 15px;
}

.cards-minicursos a {
  display: block;
  margin: 25px auto 0;
  width: 200px;
}
